{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <h6>{{ post.created }}</h6>
    <hr>
    {% if post.post_comment.all %}
        <h4>Комментарий</h4>
        <hr>
    {% endif %}
    
    
    {% for comment in post.post_comment.all %}
        <h1>{{ comment.name }}</h1>
        <p>{{ comment.text }}</p>
        <h6>{{ comment.created }}</h6>
        <hr>
    {% endfor %}

        <form action = "" method="post">{% csrf_token %}
            {{ form.as_p }}

            <button type="submit" value="">Оставь комментарий</button>
        </form>
        <hr>

    <form action="{% url 'post-delete' post.id %}" method="post">{% csrf_token %}
        <button type="submit">Удалить пост</button>
    </form>

<a href="{% url 'main-page' %}">На главную</a>

{% endblock %}
